{% extends "layout" %}

{% block scripts %}
<script src="/scripts/main.js"></script>
{% endblock %}

{% block content %}
<h1>Taskjaim:</h1>
<div class="row">
   {% for task in tasks.tasks %}
  
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="panel panel-primary">
       <ul class="list-group">
        <li class="list-group-item">
           <a href="/projects/{{ task.project_id}}/{{task.id }}">
            {{ task.name }}
        </a>
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}
