{% extends "layout" %}


{% block scripts %}
<script src="/scripts/deleteProject.js"></script>
<script src="/scripts/popup_log.js"></script>
{% endblock %}


{% block content %}
{{ csrfField | safe }}
<h2>{{ project.name }}</h2>
<h3>Vezető</h3>
<pre>
{{ project.leader.firstname }} {{ project.leader.lastname }}
</pre>
<h3>Leírás</h3>
<pre>
{{ project.description }}
</pre>
<h3>Feladatok</h3>
<ul>
{% for task in project.tasks %}
        
        <li class="list-group-item">
          <a href="/projects/{{ project.id }}/{{task.id }}">  
            {{ task.name }}
           </a> 
        </li>
{% endfor %}
</ul>
{% if (project.user_id == currentUser.id) %}
<a href="/projects/{{ project.id }}/log" class="btn btn-default" id="btnLog">
    Loggol
</a>
{% endif %}
{% if canLog %}
<a href="/projects/{{ project.id }}/log" class="btn btn-default" id="btnLog">
    Loggol
</a>
{% endif %}
{% if (project.user_id == currentUser.id) %}
<a href="/projects/{{ project.id }}/create" class="btn btn-default">
    Új feladat
</a>
<a href="/projects/{{ project.id }}/edit" class="btn btn-default">
    Szerkeszt
</a>
<a href="/projects/{{ project.id }}/users" class="btn btn-default">
    Résztvevők módosítása
</a>
<a href="/projects/{{ project.id }}/delete" class="btn btn-danger" id="btnProjectDelete">
    Töröl
</a>
{% endif %}

<ul id="logUl">
<h3>Logs</h3>
</br>
{% for log in project.logs %}
        
        <li class="list-group-item">
          Órák: {{ log.hours}} | Leírás: {{log.description}} | User: {{log.user_id }}  | Feladat: {{log.task_id }}
        </li>
{% endfor %}
</ul>


<span class="help-block"></span>

<div class="modal fade confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Biztosan törölni szeretnéd?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}