{% extends "layout" %}

{% block scripts %}
<script src="/scripts/deleteTask.js"></script>
<script src="/scripts/popup_log.js"></script>
{% endblock %}



{% block content %}
{{ csrfField | safe }}
<h2>{{ project.task.name }}</h2>
<h3>Leírás</h3>
<pre>
{{ project.task.description }}
</pre>

{% if canLog %}
<a href="/projects/{{ project.id }}/{{project.task.id}}/log" class="btn btn-default" id="btnLog">
    Loggol
</a>
{% endif %}
{% if (project.user_id == currentUser.id) %}
<a href="/projects/{{ project.id }}/{{ project.task.id }}/edit" class="btn btn-default">
    Szerkeszt
</a>
<a href="/projects/{{ project.id }}/{{ project.task.id }}/users" class="btn btn-default">
    Résztvevők módosítása
</a>
<a href="/projects/{{ project.id }}/{{ project.task.id }}/delete" class="btn btn-danger" id="btnTaskDelete">
    Töröl
</a>
{% endif %}

<ul id="logUl">
<h3>Logs</h3>
</br>
{% for log in project.task.logs %}
        
        <li class="list-group-item">
          Órák: {{ log.hours}} | Leírás: {{log.description}} | User: {{log.user_id }}  | Feladat: {{log.task_id }}
        </li>
{% endfor %}
</ul>


<span class="help-block"></span>

<div class="modal fade confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Biztosan törölni szeretnéd?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
        </div>
        </div>
    </div>
</div>


{% endblock %}